.card {
  width: 1500px;
  margin: 100px auto;
  display: flex;
  /* height: 60px; */
  justify-content: flex-end;
  /* justify-content: space-between; Distributes items evenly */
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(31, 1, 1, 0.651);
}
